<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="temp\nlog-internal.log">
  <targets>

    <target name="textFile" xsi:type="File"
            fileName="${basedir}/logs/common.log"
            layout="${longdate} ${message}${newline}${aspnet-request-ip}${exception:format=ToString}"/>

    <target name="jsonFile" xsi:type="File" fileName="${basedir}/logs/log.json" >
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger}" />
        <attribute name="ip" layout="${aspnet-request-ip}" />
        <attribute name="activityid" layout="${activityid}" />
        <attribute name="message" layout="${message}" encode="false" />
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=5}" />
      </layout>
    </target>


    <target name="warnJsonFile" xsi:type="File" fileName="${basedir}/logs/warnlog.json" >
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger}" />
        <attribute name="ip" layout="${aspnet-request-ip}" />
        <attribute name="activityid" layout="${activityid}" />
        <attribute name="message" layout="${message}" encode="false" />
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=5}" />
      </layout>
    </target>

   <target name="traceFile" xsi:type="File"
            fileName="${basedir}/logs/traceFile.txt"
            layout="Date:${longdate}, Message: ${message}, ip: ${aspnet-request-ip}"/>

    <target xsi:type="Null" name="blackhole" />

  </targets>
  <rules>
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!--<logger name="*" minlevel="Trace" writeTo="jsonFile" />
    <logger name="*" minlevel="Trace" writeTo="textFile" />-->
    <logger name="*" minlevel="Warn" writeTo="warnJsonFile" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="traceFile" />
  </rules>
</nlog>
